/*	Carousel Theme Scheme: Loli Pink
	by dy55
	2019-8-25
	for Carousel v1.1.0
	v1.2.0
*/
/*This theme needs bootstrap to work properly*/
.loli-pink{
	background-color: rgb(255, 68, 171);
	border-radius: 12px;
	outline: none !important;
	box-shadow: 0 0 8px 4px snow;
}
.loli-pink * {
	font-family: Harrington, STHupo, HGSoeiKakupoptai;
}
.loli-pink .htBoard {
	border-radius: 12px;
	opacity: 0;
	transition: all 0.3s;
	border: 1.2px ridge rgb(255, 68, 171);
	background: url(../images/loli-pink/decor.png) rgba(255, 254, 248, 0.90) no-repeat !important;
	background-size: 8% !important;
	padding-left: 6%;
	filter: none !important;
	width: 95%;
}
.loli-pink .htBoard * {
	color: rgb(241, 97, 179);
}
.loli-pink:hover .htBoard{
	opacity: 1;
	transform: translateY(47px);
}
.loli-pink .barSet{
	filter: none !important;
	margin-top: 16px !important;
	/*width: 80% !important;*/
	text-align: center;
}
.loli-pink .progressBar {
	border-radius: 9999px;
	background-color: rgba(255, 73, 173, 0.86);	
	border: 1.5px solid rgb(255, 68, 171);
	margin-right: 5% !important;
	width: 20px !important;
	height: 20px !important;
}
.loli-pink .progressBar div{
	
}
.loli-pink .progressBar:first-child {
	margin-left: -25%;
}

.loli-pink .btnPrev{
	background-image: url(../images/loli-pink/prev.png);
}

.loli-pink .btnNext{
	background-image: url(../images/loli-pink/next.png);
	transform: none;
}

.loli-pink .turnBtn{
	background-color: rgb(255, 84, 182);
	filter: none !important;
	box-shadow: 0 0 8px snow;
	transition: opacity 0.3s, box-shadow 0.3s;
}
.loli-pink .turnBtn:hover{
	box-shadow: 0 0 14px snow;
}

.loli-pink .playPause {
	background-color: rgb(255, 84, 182);
	box-shadow: 0 0 8px snow;
	transition: opacity 0.5s;
	background-size: 67%;
	filter: none !important;
}

.loli-pink *:lang(zh-cn){
	font-family: STHupo;
}
.loli-pink *:lang(ja){
	font-family: HGSoeiKakupoptai;
}